configuration {
    font:           				"JetBrains Mono Nerd Font 10";
    show-icons:                     true;
	icon-theme: 					"WhiteSur-dark";
    display-drun: 					"";
    drun-display-format:            "{icon} {name}";
    disable-history:                false;
	sidebar-mode: 					false;
	click-to-exit: 					true;
    location:                       0;
}

@theme "blue"
